* {
    /* border: solid red 1px; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.top {
    position: static;
     background-color: #1f2937; 
     height: 500px;
}

.header-logo {
    position: relative;
    top: 5%;
    color: #f9faf8;
    font-size: 24px;
    left: 10%;
    font-weight: bold;
    width: 22%;
}

nav {
    position: absolute;
    top: 2%;
    right: 4%;
    
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    right: 5%;
    padding: 8px;
    list-style: none;
    width: 100%
}

nav li {
    padding: 0%;
    list-style: none;
    color: white;
    font-weight: lighter;
    text-decoration-color: rbg(0,0,0);
}

a {
    text-decoration-color: rgb(0,0,0,0);
}

h1 {
    position: relative;
    top: 25%;
    left:10%;
    color: rgb(255, 255, 255);
    width: 325px;
    font-size: 48px;
    color: #f9faf8;
}

#subtext {
    position: relative;
    font-size: 18px;
    width: 448px;
    top: 25%;
    left: 10%;
    color: #f9faf8;
}

.sign-up {
    position: relative;
    background-color: #2883f6;
    border: none;
    font-weight: bold;
    width: 128px;
    height: 30px;
    color: #f9faf8;
    padding: 4px 22px;
    border-radius: 7px;
    left: 10%;
    top: 26%;
    cursor: pointer;
}